body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

div.container div.gameOfLifeGridContainer table.tableOfLife {
   display: inline-table;
   border-collapse: collapse;
   width: 0%;
}

table.tableOfLife tbody tr td.golCell:hover {
  background-color: black;
}

table tbody tr td {  
  width: 50px;
  height: 50px;
  border: solid 1px;
}

.alive {
  background-color: black;
}

.golActions {
  margin-top: 20px;
}