<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>gameoflife</title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <!-- endbuild -->

</head>

<body>
  <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <div class="container">
    <div class="golGridConfiguration form-inline">
      <span class="form-group">
        <label>Grid Height</label>
        <input type="number" min=1 class="golGridHeight form-control" />
      </span>
      <span class="form-group">
        <label>Grid Width</label>
        <input type="number" min=1 class="golGridWidth form-control" />
      </span>
      <button class="golCreateGrid btn btn-default">Create Grid</button>
    </div>
    <div class="golActions">
      <button id="golStart" class="btn btn-default">Next</button>
      <label>Auto Play</label>
      <input type="checkbox" id="chkAutoPlay" />
    </div>
    <div class="gameOfLifeGridContainer"></div>
  </div>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>

  <!-- game of life grid -->
  <script type="text/template" class="golGridTemplate">
      <table class="tableOfLife table table-bordered">
        <tbody>
      <% for(let i = 0; i < height; i++) { %>
        <tr class="golRow">
      <% for(let j = 0; j < width; j++) { %>
          <td class="golCell"></td>
      <% } %>
        </tr>
      <% } %>
        </tbody>
      </table>    
  </script>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/underscore/underscore.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/life.js"></script>
  <script src="scripts/ui.js"></script>
  <script src="scripts/app.js"></script>
  <!-- endbuild -->
</body>

</html>